---
import Layout from '@/layouts/Game.astro'
import Game from '@/components/react/2048/Game'


---

<Layout title="2048">
  <div
    class:list={['h-screen', 'flex', 'flex-col', 'justify-center', 'items-center']}
  >
    <Game client:load />
  </div>
</Layout>
