<sectio class="py-12 flex items-center justify-center">
  <div class="text-center">
    <h2 class="text-4xl mb-8">404 - Not Found</h2>
    <p>The document type you're trying to preview doesn't exist.</p>
  </div>
</sectio>
