---
import Card from '../components/Card.astro'
import Layout from '../layouts/Default.astro'
import { getPosts } from '../utils/sanity'

import Counter from '../components/react/Counter'

export const prerender = true
const posts = await getPosts()
---

<Layout>
  <section>
    <h2>React Demos</h2>
    <Counter client:load />
  </section>
  <section class="space-y-4">
    {posts.length && posts.map((post) => <Card post={post} />)}
  </section>
</Layout>
