---
import Layout from '@/layouts/Default.astro'
import { getPaginatedPosts } from '@/utils/sanity'
import SearchCard from '@/components/SearchCard.astro'

export const prerender = true
const posts = await getPaginatedPosts(1, 2)

const seo = {
  title: 'Search',
  description: 'Search for posts and pages',
}
---

<Layout seo={seo}>
  <section x-data="search">
    <h1 class="text-4xl font-bold mb-4">Search</h1>
    <form @submit="(e) => { e.preventDefault() }">
      <input
        @keyup="onInputKeyUp"
        type="text"
        placeholder="Search..."
        class="w-full p-2 border border-gray-300 rounded"
      />
    </form>
    <template x-if="isFetching">
      <div class="mt-2">
        <p>Searching...</p>
      </div>
    </template>
    <div id="search-results">
      <ul>
        {
          posts.map((post) => (
            <SearchCard {...post} />
          ))
        }
      </ul>
    </div>
  </section>
</Layout>