---
import Layout from '@/layouts/Default.astro'
---

<Layout>
  <section>
    <script is:inline data-astro-rerun>
      if (window.Alpine) {
        Alpine.data('test', () => ({
          message: 'Hello, Alpine.js!'
        }))
      }
    </script>
    <div x-data="test"></div>
  </section>
</Layout>
