---
import PTExtended from '../PTExtended.astro'
const { node: { body, heading } } = Astro.props

---

<div class="prose max-w-none my-12">
  {
    heading && (
      <h2>
        {heading}
      </h2>
    )
  }

  {
    body && (
      <PTExtended value={body} />
    )
  }
</div>