---
import PTExtended from '../PTExtended.astro'
const { node: { body, heading } } = Astro.props

---

<div>
  {
    heading && (
      <h2>
        {heading}
      </h2>
    )
  }

  {
    body && (
      <PTExtended value={body} />
    )
  }
</div>